.dialog {
    grid-area: content;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px grey;
    display: grid;
    grid-template-columns: 10rem 10fr;
    grid-gap: 1rem;
}

.inputSearch {
    width: 8rem;
    margin-bottom: 1rem;
}

.dialogItems {
    text-align: center;
    padding: 1rem;
    border-right: #698e02 solid thin;
}

.dialogItem {
    background-color: rgba(105, 142, 2, 0.16);
    height: 2rem;
    width: 8rem;
    border: #698e02 solid thin;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
}

.dialogItem:hover {
    cursor: pointer;
    background-color: #698e02;
}


.messages {
    padding: 1rem;
}